.table {
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #c1c1c1;
    display: grid;
    grid-template-areas:
            "caption caption"
            "head body";
}

th, td {
    padding: 1rem;
    text-align: center;
    grid-area: body;
    border-bottom: 1px solid #c1c1c1;
}
tr{

    border-left: 0px;
    border-right: 0px;
    display: flex;
    flex-direction: column;
    min-width: min-content;
    flex-shrink: 0;
}

th {
    color: #eca744;
    grid-area: head;
}

tr:hover {
    background-color: #cccccc;
    border-right: 1px solid  #cccccc;
    border-left: 1px solid  #cccccc;
}